<!-- aquí se mostraá toda la información que debemos conocer a cerca de los autores-->
<!-- como siempre, heredamos de la clase general de los html-->

{% extends "base_generic.html" %}

{% block content %}
<body style="background-color:lavender">


<h1>Author List</h1>

{% if author_list %}
    <ul>

    <!-- generamos una serie de iteraciones con el bucle for para obtener toda la información de cada autor en nuestra base de datos-->
    {% for author in author_list %}
    <li>
        <a href="{{ author.get_absolute_url }}">
        {{ author }} ({{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% endif %})
        </a>
    </li>
    {% endfor %}

    </ul>
{% else %}
    <p>There are no authors available.</p>
{% endif %}
</body>
{% endblock %}