
<!-- ver el estado de los libros que un usuario ha tomado pretados-->
{% extends "base_generic.html" %}

{% block content %}
<body style="background-color:lavender">
    <center>


    <h1>Mis Libros</h1>

    {% if bookinstance_list %}
    <ul>

        {% for bookinst in bookinstance_list %}
        <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})
        </li>
        {% endfor %}
    </ul>

    {% else %}
        <p>Todavía no has cogido ningún libro.</p>
    {% endif %}
</center>
</body>
{% endblock %}